<style>
.subscribable-box,
header .slim_nav_bar .user_links {
  display: none;
}

/* .main-nav .column { border-top: 2px solid #D8D8D8; } */
/* .site_header_image::after {
  content: "Cartas de Servicio";
  padding: .8em 2em;
  margin: 1em 2em;
  display: inline-block;
  border-left: 1px solid #CCC;
  vertical-align: top;
  font-size: 1.2em;
  font-weight: bold;
} */
header .site_header .site_header_block .site_header_social {
    margin-bottom: 1em;
}
header .slim_nav_bar {
  background-color: #FFCD00;
}
header .slim_nav_bar a { color: #000; font-weight: normal; }
header .slim_nav_bar a:hover { background: #FFF; }
.language_selector {
  margin-left: 2em;
}
</style>

<% unless full_layout? %>
  <header class="meta">

    <div class="slim_nav_bar">
      <div class="column pure-g">
        <div class="desktop_only">

          <div class="pure-u-md-1-3">
            <% if @site.configuration.links_markup.present? %>
              <%== @site.configuration.links_markup %>
            <% end %>
          </div>

          <div class="pure-u-md-2-3 right">
            <%# render "layouts/user_links" %>

            <% if locale.to_s == 'ca' %>
              <%= link_to 'Ajuntament', 'http://www.valencia.es/ayuntamiento/ayuntamiento.nsf?opendatabase&lang=2&nivel=1' %>
              <%= link_to 'La Ciutat', 'http://www.valencia.es/ayuntamiento/laciudad.nsf?OpenDatabase&nivel=1&lang=2' %>
              <%= link_to 'Tràmits', 'http://www.valencia.es/twav/tramites_acc09.nsf/vDocumentosTituloAux/Portadilla%20Tr%C3%A1mites%20SEDE?opendocument&lang=2' %>
              <%= link_to 'Atenció Ciutadana', 'http://www.valencia.es/ayuntamiento/atencion_ciudadano.nsf/vDocumentosTituloAux/Inicio?opendocument&lang=2&nivel=1&seccion=0' %>
              <%= link_to 'Actualitat', 'http://www.valencia.es/valencia/noticias/index.htm?&lang=2&seccion=5' %>
            <% else %>
              <%= link_to 'Ayuntamiento', 'http://www.valencia.es/ayuntamiento/ayuntamiento.nsf?opendatabase&lang=1&nivel=1' %>
              <%= link_to 'La Ciudad', 'http://www.valencia.es/ayuntamiento/laciudad.nsf?OpenDatabase&nivel=1&lang=1' %>
              <%= link_to 'Trámites', 'http://www.valencia.es/twav/tramites_acc09.nsf/vDocumentosTituloAux/Portadilla%20Tr%C3%A1mites%20SEDE?opendocument&lang=1' %>
              <%= link_to 'Atención Ciudadana', 'http://www.valencia.es/ayuntamiento/atencion_ciudadano.nsf/vDocumentosTituloAux/Inicio?opendocument&lang=1&nivel=1&seccion=0' %>
              <%= link_to 'Actualidad', 'http://www.valencia.es/valencia/noticias/index.htm?&lang=1&seccion=5' %>
            <% end %>

            <span id="subscribable_button">
              <%= yield(:subscribable_button) %>
            </span>

            <div class="language_selector">
              <%= render "layouts/locale_selector" %>
            </div>

          </div>

        </div>
      </div>
    </div>

    <% if @site.configuration.head_markup.present? %>
      <%= render_liquid @site.configuration.head_markup %>
    <% end %>

    <div class="site_header">

      <div class="column site_header_block">

        <div class="site_header_logo">

          <div class="site_header_image">
            <%= link_to(image_tag(@site.configuration.logo_with_fallback, alt: @site.name), 'http://valencia.es', target: '_blank') %>
          </div>

          <div class="mobile_only right">
            <div class="hamburger_container">
              <%= link_to "#", class: "nav_control" do %>
                <i class="fas fa-bars" aria-label="<%= t('layouts.application.start') %>"></i>
              <% end %>
            </div>
          </div>

        </div>

        <div class="site_header_social">

          <%= render "shared/search_box" %>

          <div class="social_links_container js-mobile-buttons" data-share>
            <% if show_social_links? %>
              <a class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header"><i class="fab fa-twitter"></i></a>
              <a class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header"><i class="fab fa-facebook"></i></a>
            <% end %>
          </div>

          <div class="mobile_only js-mobile-buttons">
            <div class="scroll-up">
              <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-angle-up fa-stack-1x fa-inverse"></i>
              </span>
            </div>
          </div>

        </div>

      </div>

      <%= render "layouts/navigation" %>

      <div class="mobile_only site_header--mobile">
        <!-- static menu -->
        <%= render "layouts/navigation_mobile" %>

        <!-- hamburger menu -->
        <%= render "layouts/hamburger_mobile" %>
      </div>

    </div>

  </header>
<% end %>
